body {
  margin: 0;
  font-family: sans-serif;
}

header {
  padding: 8px 12px;
}

#map {
  height: calc(100vh - 60px);
}

.post-item {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

button {
  font-size: 16px;
}
