html, body, #map {
  margin: 0;
  height: 100%;
}

.card {
  background: #fff;
  margin: 12px;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,.1);
}

.hidden {
  display: none;
}

#post-sheet {
  position: fixed;
  bottom: 0;
  width: 100%;
}
